# 密碼強烈建議 12 位元以上，僅使用英文字母與數字
KAFKA_USER=xxxxx
KAFKA_PASSWORD=yyyyyy
GCP_VM_IP=zzz.zzz.zzz.zzz

AWS_ACCESS_KEY_ID=xxx
AWS_SECRET_ACCESS_KEY=xxx
AWS_DEFAULT_REGION=xxx

AWS_RO_ACCESS=xxx
AWS_RO_SECRET_ACCESS=xxx

NETDATA_CLAIM_TOKEN=
NETDATA_CLAIM_URL=https://app.netdata.cloud
NETDATA_CLAIM_ROOMS=


#prometheus postgres_exporter
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=
